<div class="container mt-5">
  <div class="card shadow-lg p-4 form-container">
    <h2 class="form-title">Transact with Gas Donation</h2>
    
    <form (ngSubmit)="onSubmit()">
      <!-- Sender Address -->
      <div class="form-group mb-3">
        <label for="senderAddress" class="form-label">Sender Address</label>
        <input 
          type="text" 
          id="senderAddress" 
          [(ngModel)]="senderAddress" 
          name="senderAddress" 
          class="form-control" 
          placeholder="Enter Sender Address" 
          required>
      </div>


      <!-- Destination Address -->
      <div class="form-group mb-3">
        <label for="destinationAddress" class="form-label">Destination Address</label>
        <input 
          type="text" 
          id="destinationAddress" 
          [(ngModel)]="destinationAddress" 
          name="destinationAddress" 
          class="form-control" 
          placeholder="Enter Destination Address" 
          required>
      </div>

           <!-- Object ID To Transfer -->
           <div class="form-group mb-3">
            <label for="idObjectToTransfer" class="form-label">Object To Transfer</label>
            <input 
              type="text" 
              id="idObjectToTransfer" 
              [(ngModel)]="idObjectToTransfer" 
              name="idObjectToTransfer" 
              class="form-control" 
              placeholder="Enter Object ID to Transfer" 
              required>
          </div>

          
      <!-- Gas Doner Address -->
      <div class="form-group mb-3">
        <label for="sponsorAddress" class="form-label">Gas Doner Address</label>
        <input 
          type="text" 
          id="sponsorAddress" 
          [(ngModel)]="sponsorAddress" 
          name="sponsorAddress" 
          class="form-control" 
          placeholder="Enter Gas Doner Address" 
          required>
      </div>

      <!-- Sponsor IOTA Object ID -->
      <div class="form-group mb-3">
        <label for="sponsorIOTAObject" class="form-label">Gas Donation</label>
        <input 
          type="text" 
          id="sponsorIOTAObject" 
          [(ngModel)]="sponsorIOTAObject" 
          name="sponsorIOTAObject" 
          class="form-control" 
          placeholder="Enter Gas Object ID of the Doner (in IOTA)" 
          required>
      </div>


      <!-- Currency 
      <div class="form-group mb-3">
        <label for="selectedCurrency" class="form-label">Currency</label>
        <select 
          id="selectedCurrency" 
          [(ngModel)]="selectedCurrency" 
          name="selectedCurrency" 
          class="form-select" 
          required>
          <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
        </select>
      </div> -->

 
      <!-- Max Gas Amount 
      <div class="form-group mb-3">
        <label for="maxGasAmount" class="form-label">Max Gas Amount</label>
        <input 
          type="number" 
          id="maxGasAmount" 
          [(ngModel)]="maxGasAmount" 
          name="maxGasAmount" 
          class="form-control" 
          placeholder="Enter Max Gas Amount" 
          required>
      </div>
      
      -->

      <!-- Submit Button -->
      <div class="submitx">
        <button type="submit" class="btn btn-primary w-50" [disabled]="isSubmitting">Submit</button>
      </div>
    </form>

    <!-- Success/Error Box -->
    <div *ngIf="transactionSuccess" class="alert alert-success mt-4">
      Transaction successful!
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-4">
      {{ errorMessage }}
    </div>
  </div>
</div>
